/* RESET CSS */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
  }
#main{
    opacity:0.9;
    background-color: rgba(10, 21, 50,0.9);
    position: relative;
    height:100%;
}
.content{
    display: flex;
    height:100%;
    width:100%;
}
.left_side{
    height:100%;
    background-color: rgb(10,21,50);
    width:400px;
}
.left_side .sub .pre{
    font-weight: 900;
    text-decoration: underline 0.1px;
    text-transform: uppercase;
}
.left_side .sub h1{
    color:rgb(86, 86, 16);
    text-align: center;
    margin: 24px 0;
}
.left_side .sub .hdn{
    display: none;
}

.left_side .sub{
    color:#fff;
    padding-top: 80px;
    padding-left:64px;
}
.left_side .sub .des{
    padding: 24px;
    line-height: 24px;
    text-align: justify;
    border:solid 1px rgb(86, 86, 16);
}
.right_side{
    height:100%;
    background-color: rgb(10,21,50);
    width:calc(100% - 300px); 
}
.right_side .pic{
    text-align: center;
    transform: translateY(50%);
}
.right_side .pic .ava{
    width:200px;
    border-radius: 180px;
}
.right_side .pic .cmt{
    color:#fff;
    margin-top: 20px;
}
.social-list{
    padding-top:12px;
    margin-top: 60px;
    text-align: center;
    border-top:solid 1px rgb(86, 86, 16);
}
.social-list li{
    display: block;
    color:#fff;
}
.social-list a{
    padding:8px 5px;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    border:solid 1px #333;
    margin-top: 5px;

}
.social-list a:hover{
    color:rgb(86, 86, 16);
    background-color: #fff;
}
.notification{
    padding: 30px;
    text-align: center;
}
.notification p{
    border:solid 1px #000;
    background-color:orangered;
    color:#fff;
    padding: 12px;
}
.notification img{
    margin-top: 20px;
    border-radius: 180px;
    width:100px;
}
